.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
run/

# YARD artifacts
.yardoc
_yardoc
doc/

# Ignore everything in /xenode_lib except README
xenode_lib/*
!xenode_lib/README.md

# Ignore everything in /xenoflows except README and examples/
xenoflows/*
!xenoflows/README.md
!xenoflows/examples/
# !xenoflows/examples/dropbox_to_gmail.yml
# !xenoflows/examples/rss_feeds_to_gmail.yml
# !xenoflows/examples/rss_feeds_to_sms.yml
# !xenoflows/examples/twitter_to_dropbox.yml
# !xenoflows/examples/twitter_to_sms.yml
